<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="info_environment" xsi:type="object">Aligent\UrlMigrate\Console\Command\EnvironmentCommand</item>
                <item name="config_set" xsi:type="object">Aligent\UrlMigrate\Console\Command\ConfigSetCommand</item>
                <item name="regen_urls" xsi:type="object">Aligent\UrlMigrate\Console\Command\RegenerateUrlKeysCommand</item>
                <item name="gen_product_rewrites" xsi:type="object">Aligent\UrlMigrate\Console\Command\UrlMigrateCommands\ProductUrlMigrateCommand</item>
                <item name="gen_url2url_rewrites" xsi:type="object">Aligent\UrlMigrate\Console\Command\UrlMigrateCommands\UrlToUrlMigrateCommand</item>
            </argument>
        </arguments>
    </type>
</config>
